/* styles.css */
body {
  background-image: url('https://i.ibb.co/31cGt0V/1039733.jpg');
  font-family: "Verdana", sans-serif;
  color: #000000;
  margin: 0px;
  padding: 0px;
  background-color: #8f008f;
}

.page {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

header {
  padding-left: 1cm;
  padding-right: 1cm;
  text-align: center;
  Width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-color: darkmagenta;
  font-size: 20px;
  border-style: solid;
  border-width: 5px;
  border-radius: 20px;
  background-color: rgb(255 255 255 / 0.8);
  border-color: darkmagenta;
}

header span {
  font-size: 25px;
  color: darkmagenta;
}

#IntroText {
  color: darkmagenta;
  text-align: center;
  Width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  border-color: darkmagenta;
  background-color: rgb(255 255 255 / 0.8);
  padding: 25px;
}

#action_page {
  border-style: solid;
  width: 70%;
  border-width: 5px;
  border-radius: 10px;
  border-color: darkmagenta;
  background-color: rgb(255 255 255 / 0.8);
  padding: 20px;
  margin: auto;
  font-color: darkmagenta;
}

#results {
  color: darkmagenta;
  text-align: left;
  Width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  border-color: darkmagenta;
  background-color: rgb(255 255 255 / 0.8);
  padding: 25px;
}

.form-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px; /* Add margin between rows */
}

.form-label {
  margin-right: 10px; /* Add margin to the right of the label */
  margin-bottom: 10px; /* Add margin to bottom of label */
}

.form-input {
  width: 100%;
  margin-left: 10px; /* Add margin to the left of the input */
  margin-bottom: 10px; /* Add margin to bottom of input */
}
 
/* Add space below the select dropdown */
#activity {
  margin-bottom: 15px;
}
